#root{
    position: relative;
    height: 100%;
}

.spinner{
    position: absolute;
    left: 49%;
    top: 9%
}

.login-form .spinner {
    position: absolute;
    left: 49%;
    top: 49%
}

.active {
    color: #1890ff !important;
}

.filterDropdown {
    padding: 8px
}
.filterDropdown > input{
    width: 188px;
    margin-bottom: 8px;
    display: block;
}

.filterDropdown button {
    width: 90px
}

.filterDropdown button.ant-btn-primary {
    margin-right: 8px
}

aside div{
    color: #fff;
    padding-bottom: 10px;
}

.logo {
    width: 120px;
    height: 31px;
    background: url("logo.png") no-repeat;
    margin: 16px 24px 16px 0;
    float: left;
}

.login-form {
    max-width: 500px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.ant-alert {
    margin-bottom: 30px;
}

footer{
    text-align: center
}

main {
    padding: 0 50px
}

main .content{
    background: #fff;
    padding: 24px;
    min-height: 280px
}

.registration-company-form .ant-row-flex{
    padding: 10px 0;
}

.registration-company-form .ant-select{
    width: 100%;
}
